@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* 1 - Global - Tags*/

html {
  height: 100%;
  margin: 0;
  font-size: 14px;
}

body {
  height: 100%;
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0;
}

table {
  text-align: center;
  margin: 10px;
  max-width: 100%;
}

ul, li{
  border-radius: 10px;
}

input{
  text-align: center;
}

/*As propriedades "appearance" se referem à seta no canto direito, que indica que há uma lista de opções*/

select{
  padding-left: 10px;
  padding-right: 10px;
  height: 26px;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari e Chrome */
  appearance:none;
}

textarea {
  padding: 10px;
  max-width: 100%;
}

/*As propriedades "appearance" se referem às setas no canto direito do input de tipo number, onde o usuário pode clicar no botão para aumentar ou diminuir o número*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari e Chrome */
  appearance:none;
}

th, td{
  padding: 10px;
  border: 1px solid #e5e5e5;
}

label{
  text-align: center;
}

/*2 - Global - Outros*/

/*"#containerFlexConteudoAdmin" refere-se ao container com o conteúdo da respectiva aba, que fica ao lado de menu lateral*/

#containerFlexConteudoAdmin
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 92vh;
  width: 100%;
  margin: 0;
}

/*A classe ".inputDiscreto" também se aplica a outros tipos de tag, como <textarea>, <select> etc.*/

.inputDiscreto{
  background-color: rgb(238, 238, 238);
  border-width: 0px;
  border-radius: 20px;
}

.barraBusca{
  height: 40px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  border-width: 0px;
  width: 400px;
}

.botaoBuscar{
  height: 40px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border-width: 0px;
}

.botaoBuscar:hover{
  opacity: 70%;
}

.botaoPreto{
  background-color: black;
  color: white;
  border-radius: 20px;
  border-width: 0px;
}

.botaoPreto:hover{
  opacity: 70%;
}

.botaoPretoPequeno{
  width: 30px;
  background-color: black;
  color: white;
  border-radius: 30px;
  border-width: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

.botaoPretoPequeno:hover{
  opacity: 70%;
}

.numeroPaginas{
  width: 60px;
  margin-left: 8px;
  margin-right: 8px;
  border-width: 0px;
  background-color: rgb(238, 238, 238)
}

.divTable{
  display: table;
  width: 100%;
}

/*3 - Menu Lateral e Cabeçalho*/

#navSuperior{
  height: 8vh;
}

#containerFlexAdmin{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  height: 92vh;
  width: 100%;
  margin: 0;
}

/*"#MenuLateral" refere-se à tag <nav> que fica dentro da <div> "containerFlexAdmin"*/

#MenuLateral{
  display: flex;
  border-right: 1px solid #e5e5e5;
  margin: 0;
  padding: 10px;
}

/*"#itensMenuLateral" refere-se à tag <ul> que envelopa os botões pai e as inner lists (as <ul>s de dentro)*/

#itensMenuLateral{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#itensMenuLateral li{
  width: 100%;
}

/*".itensPaiMenuLateral" refere-se aos botões pai (que não os botões das inner lists)*/

.itensPaiMenuLateral{
  width: 100%;
  border-radius: 20px;
  border-width: 0px;
  background-color: rgb(19, 19, 19);
  color: white;
}

.itensPaiMenuLateral:hover{
  opacity: 70%;
}

/*".flexInnerList" refere-se às inner lists, que são listas dentro de listas. No caso, a lista pai é a "itensMenuLateral"*/

.flexInnerList{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.botaoFilhoMenuAdmin{
  text-decoration: none;
  color: black;
  padding-top: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.botaoFilhoMenuAdmin:hover{
  color: black;
  opacity: 70%;
  cursor: pointer;
}

.textoItensPaiMenuAdmin{
  color: white;
  text-decoration: none;
}

.textoItensPaiMenuAdmin:hover{
  color: white;
  text-decoration: none;
}

/*4 - ContaAdmin*/

#containerFlexContaAdmin{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 92vh;
  width: 100%;
  margin: 0;
}

#formContaAdmin{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 95%;
  border-top: 1px solid #e5e5e5;;
  border-bottom: 1px solid #e5e5e5;;
}

#SalvarAtualizacaoCadastro{
  width: 200px;
  height: 40px;
  background-color: rgb(19, 19, 19);
  color: white;
  border-radius: 20px;
  border-width: 0px;
  margin: 10px;
}

#SalvarAtualizacaoCadastro:hover{
  opacity: 70%;
}

#botaoSair{
  width: 200px;
  height: 40px;
  background-color: red;
  color: white;
  border-radius: 20px;
  border-width: 0px;
  margin: 10px;
}

#botaoSair:hover{
  opacity: 70%;
}

/*5 - Produtos Consultar*/

.exValor{
  text-decoration: line-through;
  color: red;
}

/* 6 - Produtos Cadastrar*/

#labelCategoria{
  margin: 10px;
}

#formProdutosCadastrar{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  border-top: 1px solid #e5e5e5;;
  border-bottom: 1px solid #e5e5e5;;
}

#nomeProdutoCadastrar{
  width: 300px;
}

#containerCategoriaCadastrar, #containerOpcoesCadastrar, #containerImagensCadastrar{
  margin: 10px;
}

#botaoAdicionarOpcaoCadastro{
  padding: 5px;
}

/*7 - Administradores Consultar*/

#botaoCadastrarNovoAdm{
  background-color: black;
  color: white;
  border-radius: 20px;
  border-width: 0px;
  width: 300px;
  height: 40px;
}

#botaoCadastrarNovoAdm:hover{
  opacity: 70%;
}